.site{
    min-width: 40%;
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

#loka{
    
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 7%;
    padding: 12px 0px;
    justify-content:space-between;
    z-index: 999;
    display: flex;
    border-bottom: rgb(229, 255, 0) solid 5px;
    position: fixed;
    
 }
 .hed{
    padding: 10px 10px;
 }
 .head{ 
  
    
    color:rgb(238, 255, 0);
    font-size: 30px;
    font-weight: 800;
    text-decoration: none; 
    text-shadow: 1px 1px rgb(216, 219, 29);
    padding: 0px 10px;
}
.conta{
    padding: 0px 10px;
}
.contact{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 251, 0);
    padding: 10px 10px;
    display: inline-block;
    border-radius: 12px;
    
}
.contact:hover{
   background-color: rgb(251, 255, 1);
   color:black;
}
.deux{
padding-top:100px ;
height: 99%;
width: 100%;
background:linear-gradient(100deg,rgb(24, 26, 31),yellow);


}
h2{
    color: rgb(255, 251, 0);
    font-size: 43px;
    font-weight: 800;
    text-shadow: 1px 1px rgb(233, 218, 16);
}
.ktba{
    padding-top: 10%;
    position: absolute;
    width: 40%;
    color: rgb(238, 255, 5);
    margin-left: 3%;

}
.tarif{
    font-weight: 500;
    font-size: 20px
}
.kbira{
    color: rgb(0, 0, 0);
font-size: 23px;
font-weight: 500;
padding: 15px 10px;
text-decoration: none; 
background-color: yellow;
border-radius: 12px;
transition: 100ms;

display: inline-block;
}
.kbira:hover{
    background-color: yellow;
    transform: scale(1.1,1.1);
}
.lkra{
    font-weight: 500;
    font-size: 20px 
}
.butt{
    padding: 10px 10px;
 
}
.akrm{
    max-width: 40%;
    height: auto;
  margin-left: 50%;
    margin-top: 10%;
    display: block;
    float: left;
    border: rgb(255, 251, 0) double 2px;
    border-radius: 12px;
    transition: 100ms;
    background-position: center 120px;
    
}
.akrm:hover{
    transform: scale(1.1,1.1);
}
.three{
    height: 90%;
    width: 100%;
    border-bottom: black solid 6px;
    background:linear-gradient(60deg,rgb(180, 37, 216),rgb(0, 0, 0));
}

h3{
font-weight: 500;
font-size: 40px;
    color: rgb(0, 0, 0);
text-align: center;
border-bottom: rgb(0, 0, 0) double 4px;
padding: 10px 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border-top: rgb(0, 0, 0) double 2px;

}
.ktbat h1{
    color:rgb(0, 0, 0) ;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace,sans-serif;
    
}
.ktbat p{
    color: rgb(0, 0, 0);
    font-size: 19px;
    padding: 5px 10px;
    font-style: oblique;
}
.ktbat{
height: 30%;
width: 40%;
margin-top: 9%;
margin-left: 4%;
position: absolute;

}
.imagetroi {
    
    height: 35%;
    width: 15%;
    position: absolute;
    left: 60%;
    margin-top: 8%;
    
}
.imagedeux{
    border: rgb(0, 0, 0) double 2px;
    border-radius: 12px;
    transition: 100ms;
    width:  350px ;
    height: auto;
    
}
.imagedeux:hover{
    transform: scale(1.1,1.1);
}
.bodytroi{
height: 100%;
width: 100%;

}
.fin{
    height: 40%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-top: rgb(0, 0, 0) solid 2px;
    
}
.fin h4{
    font-size: 30px;
    font-weight: 500;
    color: rgb(234, 0, 255);
   
    font-family: 'Times New Roman', Times, serif;
}

.ktbafin {
    display: block;
    width: 25%;
    height: 100px;
    margin-left:35% ;
    background-color: black;
    margin-top: 3%;
    border: rgb(212, 0, 255) solid 3px;
    border-radius: 12px;
    padding: 20px 20px;
    
}
  .fin p{
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 0, 255);
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  @media (min-width: 480px)
{
    *{
        font-size: 12px;
    }
}